<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AppUrl" value="https://www.demo.bnz.co.nz/client/"/>
		<add key="WaitTime" value="15"/>
	</appSettings>
	<!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib" />
		</assemblyBinding>
	</runtime>-->
</configuration>